* {
  box-sizing: border-box;
}

.GameHeader {
  overflow: hidden;
  padding: 20px 10px;
}

.GameIntro {
  float: left;
}
/*use a cool fantasy font */

.scoreBoard {
  float: right;
}

.cardGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 33%;

  margin: 0 auto;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card p {
  flex: 1;
}

.card {
  grid-column: span 1;
  grid-row: span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  width: 250px;
  height: 225px;
  text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 2px solid #918868;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
